html, body{
    background-color:black;
    margin: 0px;
    padding: 0px;
    font-family: 'Exo', sans-serif;
    color: white;
    
}


h1, h2, h3, h4, h5, h6, p, a, button {
    font-family: 'Montserrat', sans-serif;
    color: white
}


@media screen and (min-width: 788px){
    .topCardGroup{
        display: flex;
        flex-direction: row-reverse;
    }
    
    .firstCard, .secondCard{
        width: 50%;
    }

    .bottomCardGroup{
        display: flex;
    }

    .thirdCard, .fourthCard{
        width: 50%;
    }


    .fourthCard{
        display: none;
    }

    .smallImage{
        width: 60%;
        height: 60%;
        border-radius: 10px;
        border-bottom: 3px solid;
        border-left: 3px solid;
        border-color: rgb(255, 145, 0);
    }

    .starGroup{
        display: flex !important;
        justify-content: center;
    }

    .trailerSection{
        flex-direction: row !important;
        align-items: start !important;
    }


    .gameSection{
        display:flex !important;
        flex-direction: column;
        align-items: center;
    }

    .gameSection img{
        height: 70%;
        width: 70%;
    }

    .leftBar{
        margin-left: 10px;
        margin-top: 10px;
        height: 100%
    }

    .leftBar img{
        display: flex;
        justify-content: center;
        border: 3px solid black;
        border-bottom: 20px solid black;
    }

    .leftBar h1{
        margin-left: 10px;
    }

    .videoSection iframe{
        height: 480px !important;
        margin-top: 10px;
        width: 80% !important; 
        border: 6px solid black; 
        margin-bottom: 10px;
    }

    .priceTag{
        background-color: black;
        padding: 7px;
        border-radius: 10px;
        font-size: 25px;

    }

    .footer{
        margin-top: 100px !important;
        flex-direction:row !important;
    }

    .socialsIcons{
        display: flex;
        justify-content: start !important;
        width: 33%;
    }
    
    .socialsIcons img{
        height: 15% !important;
        width: auto !important;
    }

    .aboutMe{
        margin-top: 0px !important;
        text-align: end;
        width: 50%;
        margin-right: 10px;
    }



    .subFooter{
        display: flex;
        flex-direction: row-reverse;
        width: 66%;
    }

    .subFooter h4{
        margin-top: 100px;
        width: 50%;
    }

    .firstButton{
        display: flex !important;
        align-items: center;
        margin-right: 5px;
    }




    



}

.navBar{
    display: flex;
    background: rgb(226,141,14);
    background: linear-gradient(90deg, rgba(243, 81, 37, 0.93) 14%, rgba(255,29,0,1) 100%);
    height: 50px;
}

.logo{
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo, h1{
    color: white;
}

.logo, img{
    margin-left: 15px;
    height: 90%;
}

.buttonGroup {
    margin-left: auto; 
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
}

.firstButton, .secondButton{
    height: 40px;
    border-radius: 5px;
    background-color:  white;
    color:  black;
    cursor: pointer;
    
}

.firstButton{
    display: none;
}


.firstButton:hover,
.secondButton:hover {
    background-color: rgba(239, 135, 106, 0.93);
    color: white; 
}


.firstCard, .secondCard, .thirdCard, .fourthCard {
    width: 100%;
    min-height: 360px;
    box-shadow: 0px 3px 10px rgba(61, 60, 60, 0.5);
}


.firstCard img{
    height: 100%;
    max-width: 100%;
    margin: 0px;
}


.secondCard{
    border-bottom: 10px solid;
    border-color: rgba(255,29,0,1);
}


.secondCard p{
    padding: 10px;
}

.secondCard button{
    margin-bottom: 10px;
}

.titleGroup{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleGroup img{
    height: 50px;
    margin: 5px;
}

.viewMore{
    display: flex;
    justify-content: center;
}

.viewMore button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    margin-top: 20px;
    border-radius:10px;
    background-color:  white;
    color:  black;
    cursor: pointer;
}
.viewMore button:hover {
    background-color: rgba(239, 135, 106, 0.93);
    color: white; 
}


.thirdCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 10px solid;
    border-color: rgba(255,29,0,1);

}

.thirdCard p{
    padding: 10px;
}

.thirdCard hr{
    width: 60%;
    border: 2px solid rgba(245, 139, 0, 0.93);
}

.fourthCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.smallImage{
    width: 60%;
    border-radius: 10px;
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-color: rgb(255, 145, 0);
}


.starGroup{
    display: none;
}

.starGroup img{
    width: 10%;
    height: auto;
}

.trailerSection{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255,29,0,1);
    width: 100%;
}


.videoSection{
    width: 100%;
    display:flex;
    justify-content: center;

}

.videoSection iframe {
    height: 240px;
    margin-top: 10px;
    width: 90%; 
    border: 6px solid black; 
    margin-bottom: 10px;
}


.gameSection{
    display:none;
}


.footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;

}

.aboutMe{
    margin-top: 5px;
}


.socialsIcons{
    display: flex;
    justify-content: center;

}

.socialsIcons img{
    height: auto;
    width: 10%;
}







/*Sección perfil*/


.profileCard{
    background-color: #00fff9;
    opacity: 1;
    background-image:  linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(30deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(150deg, #000000 12%, transparent 12.5%, transparent 87%, #000000 87.5%, #000000), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077), linear-gradient(60deg, #00000077 25%, transparent 25.5%, transparent 75%, #00000077 75%, #00000077);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}


.innerCard{
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 20px;;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    width: 50%;
}


.innerCard img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}


.innerCard a{
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    width: 100px;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

.innerCard a:hover{
    background-color: #00fff9;
    cursor: pointer;
}


